
$color-black:#000;
$color-white:#fff;
$color-grey:#777;
$color-red:#ff4d4d;

$color-light-blue: #66FFFF;
$color-dark-blue:#0033CC;
$color-dark-purple:#330066;
$color-darkest-blue:#1a0066;

$color-primary-lighter: #7ed56f;
$color_primary: #55c57a;
$color_primary_darker: #28b485;
$color_white:#fff;

$color-grey:#777;
$color-black:#000;
$color-light-grey:#f7f7f7;


$color-grey-white:#eee;
$color-orange-light:#ffb900;
$color-orange-dark:#ff7730;
$color-blue-light:#2998ff;
$color-blue-dark:#564358;

/* colors used for linear gradient
	
	light-blue: #66ffff;
	deep-blue: #0033cc;*/

	//grid variables

	$row-width:114rem;
	$gutter-horizontal:6rem;
	$gutter-vertical:8rem;
	