.header{
	height: 95vh;
	position: relative;
	background-image:linear-gradient(rgba($color-light-blue,1),rgba($color-dark-blue,1)),  url(../img/backgroundImage.jpg);
	clip-path: polygon(0% 0%,100% 0%,100% 100%, 50% 95%,0% 100%);
	background-position: top;
	background-size: cover;
	backface-visibility: hidden;
	transition: all .2s;
	
	&:hover{
		background-image:linear-gradient(rgba($color-light-blue,0.85),rgba($color-dark-blue,0.85)),  url(../img/backgroundImage.jpg);
	}

	&__logo{
		position: absolute;
		left:4rem;
		top: 4rem;
		
	}

	&__heading{
		backface-visibility: hidden;
		position: absolute;
		top: 10%;
		left: 80%;
		transform: translate(-80%,-10%);
		text-align:center ;
		margin-bottom: 6rem;
	}
}	
