.card{
    
    perspective: 150rem;
   -moz-perspective: 150rem;
    position: relative;
    height: 52rem;
    
   
    
        &__side{
        
                color: #fff;
                font-size: 2rem;
                height: 50rem;
                width: 100%;
                transition: all .8s;
                position: absolute;
                top: 0;
                left:0;
                backface-visibility: hidden;
                -webkit-backface-visibility: hidden;
                box-shadow: 0 2.5rem 4rem rgba($color-black,.4);
                border-radius: 3px;
        

                &--front{
                    background-color:$color_white;           
                    }
        
        
                &--back{
                    transform: rotateY(180deg);
                    
                &--1{
                    background-image:linear-gradient(to right bottom, rgba($color-red,1), rgba($color-red,1));
                    }
                &--2{
                    background-image:linear-gradient(to right bottom, rgba($color-primary-lighter,1), rgba($color-primary-darker,1));
                        }
                &--3{
                            background-image:linear-gradient(to right bottom, rgba($color-dark-purple,1), rgba($color-darkest-blue,1));
                        }
                    
                    }
                }


    
   
       &:hover &__side--front {
        transform: rotateY(-180deg);
    }

    &:hover &__side--back {
        transform: rotateY(0);
    }


    // FRONT SIDE STYLING
    &__picture {
        background-size: cover;
        height: 23rem;
        background-blend-mode: screen;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        
  
    }

    &__heading {
        font-size: 2.8rem;
        font-weight: 300;
        text-transform: uppercase;
        text-align: center;
        color: $color-white;
        position: absolute;
        top: 0rem;
        right:3rem;
        width: 75%;
        height: 40%;
        border-top-right-radius: 3px;
        border-top-left-radius: 3px;
    
    }

    &__heading-span {
        padding: .7rem .09rem;
        -webkit-box-decoration-break: clone;
        box-decoration-break: clone;
        

        &--1 {
            background-image: $color_white;
                color: $color-red;
                
            }

        &--2 {
            background-image: $color_white;
            color: $color_primary_darker;
           
        }

        &--3 {
            background-image: $color_white;
            color: $color-blue-dark;
        }
    }

    &__details{
        padding: 3rem;
        

        ul {
            list-style: none;
            width: 80%;
            margin: 0 auto;

            li {
                text-align: center;
                font-size: 1.5rem;
                padding: 1rem;
                color: $color-grey;

                &:not(:last-child) {
border-bottom: 1px solid $color-light-grey ;
                }
            }
        }
    }

    &__cta{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90%;
        text-align: center;
    }

    &-box{
        text-align: center;
        
        color: $color_white;
    }

    &__price-box--only{
        color: $color_white;
        font-size: 1.4rem;
        text-transform: uppercase;
        
    }

    &__price-box--value{
        color: $color-grey;
        font-size: 8rem;
        font-weight: 100;
        margin-bottom: 8rem;
       
    }
    
}
