*
*::before
*::after
{
	margin: 0;
	border: 0;
	box-sizing:inherit;
}

html{
	// this is one rem setting
	font-size: 10px;
}

body{
	font-family: 'Lato', sans-serif;
	line-height: 1.7;
	padding: 2rem;
	box-sizing: border-box;
	font-size: 1.6rem;
	color:$color-grey;
	box-sizing: border-box;
	/*background-color: #000;*/
	
}