.heading--hey{
	/*position: absolute;
	top: 15%;
	left: 87%;*/
		
	display: block;
	font-size: 7rem;
	font-weight: 600;
	letter-spacing: 1rem;
/*color: #ff4d4d;*/
	color:$color-white;

	
	animation-name: heyAndSubHeadingToRight;
	animation-duration: 3s;
	animation-timing-function: ease-out;

}


.heading-primary--mainHeading{
	color: $color-red;
	font-family: 'Monoton', cursive;
	font-size: 7.6rem;
	font-weight: 400;
	text-align: right;

	animation: mainHeadingToLeft 3s ease-out;
	

}

.heading-primary--subHeading{
	/*color: #4d4d4d;*/
	color:$color-white;
	display: block;
	font-family: 'Open Sans', sans-serif;
	font-size: 4rem;
	font-weight: bold;
	text-align: right;
	letter-spacing: 1rem;

	animation-name: heyAndSubHeadingToRight;
	animation-duration: 3s;
	animation-timing-function: ease-out;

}

.heading-secondary{
	font-size: 3rem;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: .3rem;
	display: inline-block;
	color:transparent;
	background-image: linear-gradient(to right, $color-light-blue, $color-dark-blue);
	-webkit-background-clip: text;
	background-clip: text;
	
	
	&:hover {
	transform: skewY(5deg) skewX(20deg) scale(1.1);
	text-shadow: .5rem 1rem 2rem rgba($color-black, .2);
	}
}